{% extends 'inc/main_base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h3 class="my-0 mb-4">Company information</h3>

          {% for message in messages %}
            <div class="alert {% if message.level == 20 %}alert-success{% else %}alert-danger{% endif %} mb-3 alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
         
          <form class="forms-sample" method="POST" action="">
              {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Company name</label>
                        <input type="text" class="form-control" value="{{ company.name }}" name="name" placeholder="Company name">
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Tagline</label>
                        <input type="text" class="form-control" value="{{ company.tagline }}" name="tagline" placeholder="Company tagline" required>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Founded in</label>
                        <input type="number" id="founded_in" class="form-control" min="1800"  name="founded_in"  value="{{ company.founded_in }}" required>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" placeholder="Description" rows="3" name="description" required>{{ company.description }}</textarea>
                    </div>
                </div>

                <input name="template_input" value="{{ company.card_template.id }}" id="template_input" type="hidden" required>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Card template</label>
                        <div class="row">
                            {% for card_template in card_templates %}

                                <div class="col-sm-4 pb-3">
                                    <div data-template-id="{{ card_template.id }}" class="card border border-10 id-card {% if company.card_template.id == card_template.id %}selected-template{% endif %}">
                                        <div class="card-body p-0">
                                            <div class="bg-white radius-10">
                                                {% include card_template.full_path %}
                                            </div>

                                            <div class="p-3">
                                                <div class="row my-0 py-0">
                                                    <div class="col-sm-10 d-flex align-items-center">
                                                        <h5 class="card-title mb-0">{{ card_template.name }}</h5>
                                                    </div>

                                                    <div class="col-sm-2 d-flex align-items-center">
                                                        <i class="material-icons my-0 py-0 bg-white radius-100 {% if company.card_template.id != card_template.id %}opacity-0{% endif %} tick-icon" id="tick-icon-{{ card_template.id }}" style="color: green;">check_circle</i>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary mr-2 mb-2">Update company information</button>

        </form>
        </div>
      </div>
    </div>
   
  </div>


<script>
    $(".id-card").on("click", function () {
        $(".id-card").removeClass("selected-template");
        $(".tick-icon").addClass("opacity-0");
        let template_id = $(this).attr("data-template-id");
        $("#template_input").val(template_id);
        $(`#tick-icon-${template_id}`).removeClass("opacity-0");
        $(this).addClass("selected-template"); 
    });

    $(".qr-sample").show();
    $(".qr-loading").hide();

</script>

{% endblock content %}