<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->


{% extends 'inc/main_base.html' %}
{% load static %}

{% block content %}



<div id="mySidenav" class="sidenav">
  <div class="p-4">
      <div class="row">
          <div class="col-sm-7 d-flex align-items-center">
              <h4 class="my-0">Edit employee info</h4>
          </div>

          <div class="col-sm-5 d-flex align-items-center justify-content-end">
              <i 
                  onclick="closeNav()"
                  class="material-icons mk-pointer myIco ml-2 text-secondary" 
                  title="Add new translation">
                  close
              </i>
          </div>
      </div>

      <div class="row mt-2">
          <div class="col-sm-12 pt-3">


              {% for message in messages %}
                  <div class="alert {% if message.level == 20 %}alert-success{% else %}alert-danger{% endif %} mb-3 alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
              {% endfor %}

              <form class="forms-sample" action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}                
                  <input value="{{ employee.id }}" name="id" type="hidden">
                  {% include 'inc/employee-form.html' %}
                  <button type="submit" class="btn btn-primary mr-2">Update employee</button>
              </form>

          </div>


      </div>
     

  </div>

</div>


<div class="row">
  <div class="col-sm-6">

    <div class="card">
      <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
      <div class="row mt-4 px-4">
      
        <div class="col-sm-9">
          <h2 class="mb-4"><b>{{ employee.full_name }}</b></h2>
          <div class="d-flex align-items-center mb-3">
            <i class="material-icons" style="font-size: 19px;">email</i>
            <h4 class="mb-0 ml-2">{{ employee.email }}</h4>
          </div>

          <div class="d-flex align-items-center mb-3">
            <i class="material-icons" style="font-size: 19px;">phone</i>
            <h5 class="mb-0 ml-2">+{{ employee.phone }}</h5>
          </div>

          <div class="d-flex align-items-center mb-3">
            <i class="material-icons" style="font-size: 19px;">event</i>
            <h5 class="mb-0 ml-2">Born - {{ employee.birthday }}</h5>
          </div>

          <div class="d-flex align-items-center mb-3">
            <i class="material-icons" style="font-size: 19px;">work</i>
            <h5 class="mb-0 ml-2">{{ employee.designation }}</h5>
          </div>

          <div class="d-flex align-items-center mb-0">
            <i class="material-icons" style="font-size: 19px;">history</i>
            <h5 class="mb-0 ml-2">joined - {{ employee.member_since.date }}</h5>
          </div>
          
        </div>

        <div class="col-sm-3 text-center d-flex justify-content-start">
          <img 
            src="media/{{ employee.profile_picture }}" 
            class="profile-picture-icon" alt="...">
        </div>
      </div>

      <hr class="text-white bg-white" style="opacity: 0;">

      <div class="text-center d-flex pb-2 mt-3 justify-content-center">
          <button type="button" 
              id="add-new-employee-btn"
              onclick="openNav()"
              class="btn d-flex align-items-center btn-outline-primary mb-3">
              <i class="material-icons mr-2">edit</i>
              Update employee info
          </button>
      </div>
    
    </div>
    
  
  </div>

  <div class="col-sm-6">
    <div class="">
        <!-- <h4 class="mb-0 mt-3 ml-3">ID card</h4> -->
        <div class="bg-white border-10">
          {% include employee.company.card_template.full_path %}
          <div class="text-center d-flex pb-0 justify-content-center">
              <button type="button" 
                  id="download_btn"
                  class="btn d-flex align-items-center btn-outline-primary mb-3">
                  <i class="material-icons mr-2">download</i>
                  Download to print
              </button>
          </div>
        </div>
       
    </div>
  </div>
</div>

<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script src="{% static 'assets/js/employee.js' %}"></script>
<script src="{% static 'assets/js/picture-upload.js' %}"></script>

<script>
  $("#employee_profile_picture_input").prop("required", false);
  let data = '{{ employee.getJson | safe }}';
  let index = "{{ index }}"
  open_id_card(data, index, false);
  $("#birthday-input").val(selected_employee.birthday);



</script>

{% endblock content %}