{% load static %}


<div class="form-group mb-3 text-center">
    <img
        id="employee_profile_picture_show"
        onclick="upload_picture('employee_profile_picture_input')"
        src="{% static 'img/upload-photo.png' %}" 
        class="upload-photo" alt="">
    
    <input 
        type="file" 
        id="employee_profile_picture_input" 
        name="profile_picture"
        onchange="readURL(this, 'employee_profile_picture_show')"
        style="height: 0px; overflow:hidden; width: 0px;"
        required>
</div>

<div class="form-group mb-3">
    <label>First name</label>
    <input type="text" value="{{ employee.first_name }}" name="first_name" class="form-control" placeholder="First name" required>
</div>

<div class="form-group mb-3">
    <label>Last name</label>
    <input type="text"  value="{{ employee.last_name }}"  name="last_name" class="form-control" placeholder="Last name" required>
</div>

<div class="form-group mb-3">
    <label>Email address</label>
    <input type="email"  value="{{ employee.email }}"  name="email" class="form-control" placeholder="Email address" required>
</div>

<div class="form-group mb-3">
    <label>Telephone / phone</label>
    <input type="text" name="phone"  value="{{ employee.phone }}" pattern="[0-9]+" maxlength="11" class="form-control" placeholder="Telephone / phone" required>
</div>

<div class="form-group mb-3">
    <label>Designation</label>
    <input type="text" name="designation"  value="{{ employee.designation }}" class="form-control" placeholder="Designation" required>
</div>

<div class="form-group">
    <label>Birthday</label>
    <input type="date"  value="{{ employee.birthday }}" id="birthday-input"  name="birthday" class="form-control" required>
</div>

